/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/*------------ start of styles ------------*/

body {
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e3ff;
  color: #212227;
  padding: 20px;
}

#status-display {
  margin-bottom: 20px;
  text-align: center;
}

.boards-container {
  display: flex;
  gap: 100px;
  margin-bottom: 40px;
}

.board {
  width: 350px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  background-color: #5358a6;
  border: 2px solid #313244;
}

.cell {
  background-color: #89b4fa;
  cursor: pointer;
  border: 1px solid #5358a6;
}

.cell:hover {
  background-color: #cfd5fd;
}

.cell.miss {
  background-color: #9ca3af; /* Gray for miss */
  cursor: not-allowed;
}

.cell.hit {
  background-color: #f87171; /* Red for hit */
  cursor: not-allowed;
}

.cell.ship {
  background-color: #4ade80; /* Green for ships */
}

#ships-container {
  width: 100%;
  max-width: 800px;
  min-height: 100px;
  background-color: #5358a6;
  border-radius: 8px;
  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.ship-shape {
  display: flex;
  gap: 2px;
  background-color: #313244;
  padding: 4px;
  border-radius: 4px;
}

/* .vertical-ships .ship-shape { */
.vertical-ships .ship-shape {
  flex-direction: column;
}

.ship-block {
  width: 30px;
  height: 30px;
  background-color: #4ade80;
}

#setup-controls {
  text-align: center;
  margin-bottom: 10px;
}

#rotate-btn {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  background-color: #5358a6;
  color: white;
}
